agentic_workflow/n8n_workflow.json
{
  "name": "DeepDrishti Agentic Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e21c3b12-9c17-48f5-9bc4-dbcb23b2c219",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        200,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "993a2c5a-d831-4835-b28e-5bf8c7fbac81",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        460,
        280
      ]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {}
      },
      "id": "11d51a66-a367-4a00-baef-c3a518a4a5d3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        460,
        480
      ]
    },
    {
      "parameters": {
        "name": "EnhanceUnderwaterImage",
        "description": "Call this tool to enhance an underwater image. This tool sends the image to the DeepDrishti U-Net Model via API.",
        "method": "POST",
        "url": "http://localhost:5001/enhance",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "form-data",
              "name": "image",
              "value": "={{$fromAI('image_path', 'The file path or URL of the image to enhance')}}"
            }
          ]
        },
        "options": {}
      },
      "id": "31b0fc21-93db-4ad1-817b-60be78fcba70",
      "name": "Enhance API Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        640,
        480
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "id": "51a3d3c8-a901-4475-b9f1-dc3a36dbab37",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        320,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enhance API Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9000a6e-41eb-4752-9bc5-c266a2e8c253",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "T16tJ0M1sL2U9qY",
  "tags": []
}
